header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5em 4.5em;
    background-color: var(--cor-preto);
    color: var(--cor-branco);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    gap: 1em;
}
nav a {
    font-size: 1.3em;
}
nav a:hover,
nav a:active {
    border-bottom: 2px solid var(--cor-branco);
}

nav input {
    width: 30vw;
    padding: 0.3em 1em;

    border-radius: 30px;
    border: 1px solid var(--cor-branco);
    background-color: var(--cor-preto-apoio);

    color: var(--cor-branco);
}

/* botão hamburguer */
.btn-menu {
    display: none;
    background: transparent;
    border: none;
}

.btn-menu img {
    width: 50px;
}

@media (max-width: 760px) {

    header {
        padding: 0.8em 1em;
    }

    nav {
        position: fixed; 
        top: 70px;
        left: 0;

        width: 100%;
        height: calc(100vh - 70px);

        background-color: var(--cor-preto);

        display: none;
        flex-direction: column;
        align-items: flex-start;

        padding: 2em 1.5em;

        overflow: hidden; 
    }

    nav.menu-aberto {
        display: flex;
    }

    nav input {
        width: 100%;
    }

    .btn-menu {
        display: block;
    }

    body.menu-open {
        overflow: hidden;
    }
}
