<app-message></app-message>
<h1 class="titulo-centro">Compartilha um momento:</h1>
<form (ngSubmit)="submit()" [formGroup]="inputForm">

  <!-- input para carregar a imagem -->
  <!--   <div class="carregar-imagem">
    <label for="image">+</label>
    <input type="file" id="image" hidden (change)="onFileSelected($event)">
  </div> -->
  <label for="image">Escolhe uma imagem:</label>
  <input type="file" id="image" (change)="onFileSelected($event)">

  <!-- input para colocar a descrição -->
  <label for="text">Descrição:</label>
  <textarea id="text" name="text" placeholder="Descreva seu momento:" formControlName="text" required></textarea>

  <!-- mensagem de validação -- descricao -->
  <div *ngIf="text.invalid" class="mensagem-validacao">
    <p *ngIf="text.errors ?. ['required']">A descrição é obrigatória!</p>
  </div>

  <!-- input para colocar as hashtag -->
  <label for="hashtag">Hashtag:</label>
  <input type="text" id="hashtag" formControlName="hashtag" required>

  <!-- mensagem de validação -- hashtag -->
  <div *ngIf="hashtag.invalid" class="mensagem-validacao">
    <p *ngIf="hashtag.errors ?. ['required']">A hashtag é obrigatória!</p>
  </div>

  <button type="submit">Enviar</button>
</form>