.dropdown.badges {
  position: static !important;
  overflow: visible !important;
  width: 156px;
  min-height: 26px;
  height: auto;
  display: flex;

  background-color: var(--cor-bg-card);
}

.dropdown.badges .dropdown-button {
  width: 100%;
  cursor: pointer;
}

.dropdown.badges .dropdown-list {
  width: 100%;
  width: 156px;
  max-height: 192px;
  display: flex;
  flex-direction: column;
  direction: rtl;

  z-index: 10;
  overflow-y: auto;


  position: static !important;
  top: auto !important;
  left: auto !important;
}

.dropdown.badges .dropdown-list li {
  height: 100%;
  margin: 0;
  margin-bottom: 13px;

  font-family: var(--fonte-subtitulo-desktop);
  font-size: 12px;
  font-weight: 600;
  color: var(--branco);

  cursor: pointer;
  direction: ltr;
}
