.message {
    position: fixed;
    bottom: 3em;
    width: 30%;
    margin-left: 70%;
    right: 0%;
    z-index: 10;
    background-color: #FFF;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.message-header button {
    padding: .5em;
    cursor: pointer;
}

.message-header p {
    font-size: 1.5em;
}

/* mobile */
@media (min-width: 300px) and (max-width: 700px){
    .message {
        width: 80vw;
        margin: 0%;
        left: 0;
        border-radius: 0px 10px 10px 0px;
    }
}