<section *ngIf="photo" class="foto-detalhe">

    <img [src]="photo.image" alt="">

    <div>
        <a routerLink="/detail/comentario/{{ photo.id }}">
            <fa-icon [icon]="faComment"></fa-icon> Comentar
        </a>

        <a routerLink="/detail/edit/{{ photo.id }}">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>
        

        <button (click)="removeHandler(photo.id!)">
            <fa-icon [icon]="faTimes"></fa-icon> Deletar
        </button>

    </div>


    <p> {{ photo.text }}
        <br>
        <small>{{ photo.hashtag }}</small>
    </p>

</section>